.healthBar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 180, 120);
  box-shadow: 10px 15px 8px #888888;
}

.healthBar--info{
  color: rgb(0, 0, 0);
}
